# This is the top most EditorConfig file.
root = true

# General defaults: UNIX style newlines, newline ending every file, UTF-8 encoding.
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
