### 'Normal' gitignore files.
.vscode
nug.tag
netcdf-c.tag
autom4te.cache
debug.txt
CTestConfig.cmake
Vagrantfile
build*
html
doxygen*.tmp
\#*.*\#
*.*~
*.o
*.lo
*.la
myhtml
CMakeLists.txt.user
scan-build
.deps
.libs
.idea
Makefile
.DS_Store
build-par
build_llvm
.vagrant
Vagrantfile
netcdf-fortran
