sudo: false
language: c
compiler:
  - gcc
  - clang

addons:
    apt:
      packages:
      - libcurl4-openssl-dev
      - m4
      - wget
      - autoconf
      - libtool
      - gfortran
      - git
      - doxygen
      - graphviz

before_install:

before_script:

  ###
  # Install dependencies from a pre-built binary.
  ###
  - cd $HOME
  - wget http://www.unidata.ucar.edu/downloads/netcdf/ftp/travisdeps.tar.bz2

  - tar -jxf travisdeps.tar.bz2
  - export LD_LIBRARY_PATH=$HOME/usr/lib
  - export PATH=$HOME/usr/bin:$PATH
  - cd -

  - mkdir build
  - cd build
  - cmake .. -DENABLE_DOXYGEN=ON -DENABLE_EXTRA_TESTS=ON -DENABLE_HDF4=ON -DCMAKE_PREFIX_PATH=$HOME/usr

script:
  - make -j 4
  - make test
