language: c
compiler:
  - mpicc
#  - gcc
# - clang

before_install:
  # Get CMake >=2.8.8, HDF5 >= 1.8.6
  - sudo add-apt-repository -y ppa:amcg/netcdf-parallel
  - sudo apt-get update -qq
  - sudo apt-get install -qq cmake libhdf5-openmpi-7 libhdf5-openmpi-dev

before_script:
  - cmake \
      -DENABLE_PARALLEL:BOOL=ON \
      .

script:
  - make && make test
